<div class="game-main-container container" data-controller="guess confetti">
  <!-- First row with definition-->
  <div class="row definition-row">
    <div class="col-md-2">
      <div class="field difficulty">
        <%= label_tag 'difficulty_level', '' %>
        <select id="difficulty_level" data-guess-target="difficulty" data-dark-mode-target="difficultyDropdown" class="form-control drop border border-dark rounded-4">
          <% @levels.each do |level| %>
            <option value="<%= level %>"><%= level %></option>
          <% end %>
        </select>
      </div>
    </div>
    <div class="container definition-container col-md-4" data-guess-target="definition" data-dark-mode-target="definitionContainer">
      <div class="title-container" data-dark-mode-target="container">
        <h1 class="app-home-title">
          <span style="color:black">Lingo</span>
          <span style="color: #FF6042">L</span>
          <span style="color: #F9BF3A">u</span>
          <span style="color: #9163EA">d</span>
          <span style="color: #F6B26B">u</span>
          <span style="color: #17BBB0">s</span>
        </h1>
        <p>Choose a difficulty level and a category then click "Play"</p>
      </div>
    </div>
    <div class="col-md-2">
      <div class="field category">
        <%= label_tag 'category', '' %>
        <select id="category_id" data-guess-target="category" data-dark-mode-target="categoryDropdown" class="form-control drop border border-dark rounded-4">
          <% @categories.each do |category| %>
            <option value="<%= category.id %>"><%= category.name %></option>
          <% end %>
        </select>
      </div>
    </div>
  </div>
  <!-- Second row with game layout and dropdowns-->
  <div class="row guess-row">
    <div class="guess-container" data-guess-target="guessContainer">
      <% 3.times do |attempt| %>
        <div class="guess-field" data-attempt="<%= attempt %>">
          <% 6.times do |index| %>
            <div class="flex-fill">
              <input type="text" size="1" maxlength="1" id="line-<%= attempt %>"
                    class="form-control guess-big border border-dark rounded-2" disabled>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row button-row">
    <div class="button-container">
      <button id="next-game-btn" data-action="guess#createGame" data-guess-target="next" class="btn-game">Play</button>
    </div>
  </div>
  <%= render 'shared/settings_modal' %>
</div>
