<div class="main-container container" data-controller="guess fade">
  <!-- First row with definition-->
  <div class="row">
    <div class="container definition-container col-md-4" data-guess-target="definition">
    </div>
  </div>

  <!-- Second row with game layout and dropdowns-->
  <div class="row guess-row">
    <div class="col-md-2">
      <div class="field difficulty">
        <%= label_tag 'difficulty_level', 'Difficulty' %>
        <select id="difficulty_level" data-guess-target="difficulty" class="form-control">
          <% @levels.each do |level| %>
            <option value="<%= level %>"><%= level %></option>
          <% end %>
        </select>
      </div>
    </div>
    <div class="guess-container col-md-8" data-guess-target="guessContainer">
      <% 3.times do |attempt| %>
        <div class="guess-field">
          <% 6.times do |index| %>
            <div class="flex-fill">
              <input type="text" size="1" maxlength="1"
                     class="form-control guess" disabled>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-md-2">
      <div class="field category ">
        <%= label_tag 'category', 'Category' %>
          <select id="category_id" data-guess-target="category" class="form-control">
          <% @categories.each do |category| %>
            <option value="<%= category.id %>"><%= category.name %></option>
          <% end %>
        </select>
      </div>
    </div>
  </div>
  <div class="row button-row">
    <div class="button-container">
      <button class="btn score-btn">Score</button>
      <div class="feedback-container" data-guess-target="feedback">
      </div>
      <button id="next-game-btn" data-action="guess#createGame" data-guess-target="next" class="btn">Play</button>
    </div>
  </div>
</div>
