<div class="game-main-container container" data-controller="guess confetti">

  <!-- First row with definition-->
  <div class="row definition-row">
    <div class="col-md-2">
      <div class="field difficulty">
        <%= label_tag 'difficulty_level', '' %>
        <select id="difficulty_level" data-guess-target="difficulty" class="form-control drop bg-white border border-dark rounded-4">
          <% @levels.each do |level| %>
            <option value="<%= level %>"><%= level %></option>
          <% end %>
        </select>
      </div>
    </div>
    <div class="container definition-container col-md-4" data-guess-target="definition">
    </div>
    <div class="col-md-2">
      <div class="field category">
        <%= label_tag 'category', '' %>
          <select id="category_id" data-guess-target="category" class="form-control drop bg-white border border-dark rounded-4">
          <% @categories.each do |category| %>
            <option value="<%= category.id %>"><%= category.name %></option>
          <% end %>
        </select>
      </div>
    </div>
  </div>

  <!-- Second row with game layout and dropdowns-->
  <div class="row guess-row">
    <div class="guess-container" data-guess-target="guessContainer">
      <% 3.times do |attempt| %>
        <div class="guess-field" data-attempt="<%= attempt %>">
          <% 6.times do |index| %>
            <div class="flex-fill">
              <input type="text" size="1" maxlength="1" id="line-<%= attempt %>"
                    class="form-control guess-big border border-dark rounded-2" disabled>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row button-row">
    <div class="button-container">
      <button id="next-game-btn" data-action="guess#createGame" data-guess-target="next" class="btn-game">Play</button>
    </div>
  </div>
</div>
