<p>
  <strong>Category:</strong>
  <%= @game.category.name %>
</p>

<p>
  <strong>Difficulty Level:</strong>
  <%= @game.difficulty_level %>
</p>

<p>
  <strong>Attempts:</strong>
  <%= @game.attempts %>
</p>

<p>
  <strong>Score:</strong>
  <%= @game.score %>
</p>

<%= link_to 'Update Attempts', update_attempts_game_path(@game), method: :post %>
<%= link_to 'Update Score', update_score_game_path(@game), method: :patch %>
