<h1>Game: <%= @game.category.name %> - <%= @game.difficulty_level %></h1>
<p>Score: <%= @game.score %></p>
<p>Attempts left: <%= 3 - @game.attempts %></p>
<% if @game.attempts < 3 %>
  <h2>Round <%= @game.attempts + 1 %></h2>
  <%= form_with model: [@game], local: true do |f| %>
    <div class="form-group">
      <%= f.label :guess, 'Enter your guess' %>
      <%= f.text_field :guess, class: 'form-control' %>
    </div>
    <%= f.submit 'Submit Guess', class: 'btn btn-primary' %>
  <% end %>
<% else %>
  <p>Game over! The correct word was <%= @game.attempts.last.word.name %>.</p>
  <%= link_to 'Start a New Game', new_game_path, class: 'btn btn-primary' %>
<% end %>
