<div class="container">
  <h1 class="header-message">Welcome to your dashboard, <%= @user.first_name %>!</h1>

  <!-- one row, two columns -->
  <div class="row">
    <!-- Left column -->
    <div class="col-md-6">
      <div class="average-over-time-container">
        <h2>Average scores this week</h2>
      <div class="chart">
        <canvas data-controller="dashboard-chart"
                data-dashboard-chart-data-value="<%= @average_scores_over_time %>"
                width="400" height="418">
        </canvas>
      </div>
    </div>
  </div>


    <!-- Right column -->
  <div class="col-md-6">
    <div class="total-average-score-container">
      <p>Total score: <span class="score"><%= @total_score %></span></p>
      <p>Average overall score: <span class="score"><%= @average_score.round(2) %></span></p>
    </div>


    <div class="overview-container">
      <p>Overview of Recent Activity</p>
        <table class="table">
          <thead>
            <tr>
              <th class="word">Word</th>
              <th>Level</th>
              <th>Category</th>
              <th>Attempts</th>
              <th>Score</th>
            </tr>
          </thead>
          <tbody>
            <% @recent_games.each do |game| %>
              <tr>
                <td>
                  <% if game.word.present? %>
                    <%= game.word.name %>
                  <% else %>
                    No word associated with this game
                  <% end %>
                </td>
                <td><%= game.difficulty_level %></td>
                <td><%= game.category.name %></td>
                <td><%= game.attempts %></td>
                <td><%= game.score %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
