<h1>Welcome to your dashboard, <%= @user.first_name %>!</h1>
<p>Total Score: <span class="score"><%= @total_score %></span></p>
<p>Overview of Recent Activity</p>
  <table>
    <thead>
      <tr>
        <th>Word</th>
        <th>Level</th>
        <th>Category</th>
        <th>Time</th>
        <th>Attempts</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
    <% @recent_game_details.each do |detail| %>
      <tr>
        <%# <td><%= detail.word %></td> %>
        <%# <td><%= detail.level %></td> %>
        <td><%= detail.category %></td>
        <td><%= detail.time %></td>
        <td><%= detail.attempts %></td>
        <td><%= detail.score %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <p>Average Score: <span class="score"><%= @average_score.round(2) %></span></p>
